WindowsFormsApp2/Connected Services/BackendSysteem/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49768/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49768/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49768/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerApplication.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegistreerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistreerUser" />
  </wsdl:message>
  <wsdl:message name="IService_RegistreerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistreerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAvailableProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableProducts" />
  </wsdl:message>
  <wsdl:message name="IService_GetAvailableProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInventory" />
  </wsdl:message>
  <wsdl:message name="IService_GetInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInventoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistreerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegistreerUser" message="tns:IService_RegistreerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegistreerUserResponse" message="tns:IService_RegistreerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAvailableProducts" message="tns:IService_GetAvailableProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAvailableProductsResponse" message="tns:IService_GetAvailableProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetInventory" message="tns:IService_GetInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetInventoryResponse" message="tns:IService_GetInventory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistreerUser">
      <soap:operation soapAction="http://tempuri.org/IService/RegistreerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableProducts">
      <soap:operation soapAction="http://tempuri.org/IService/GetAvailableProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory">
      <soap:operation soapAction="http://tempuri.org/IService/GetInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:49768/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>